#INTRODUCTION
#I have several categories here, similar to those in farun.bash
#See the tutorial for more details
#Do not specify more than one value for each variable
#(i.e. if you want to use another example than the default, make sure
#to deactivate the default first)

#==============================================================================

#QUASI-CONSTANT VARIABLES
#You will change this if you want to alter the behavior of the dock protocol
#Change compiler if you use a new executable.

compiler=gcc  #default, new c++ version of rosetta
protocol_flags="-dock_mcm -dock_rtmin -quiet -fake_native"

#VARIABLES THAT CHANGE OFTEN

#==============================================================================

#PREFIX
#Set the prefix (name of directory you want to put pdb files in)
#If you do more than one run in a directory, you should use different
#prefixes for each run
prefix="TE"

#More than 10K structures
#This will pass in the condor process number, which will allow one directory
#per job instead of a single directory with all of the pdbs.
#prefix=\$1  #(condor process number)

#==============================================================================

#NSTRUCT
#Set the number of structures to make
#Don't use more than one of these lines

#For test run
nstruct=20

#For small perturbation and global runs
#nstruct=1000

#For large perturbation / calibration run
#nstruct=5000

#More than 10K structures (this example is for 20K)
#The total number of structures will be nstruct*Njobs 
#if you use 'prefix=\$2' above.
#You will need to choose Njobs=100 below.
#nstruct=200

#Or choose any nstruct you want
#nstruct=

#==============================================================================

#SIDECHAIN FLAGS
#Normally this will not change unless you want to change side chain packing.

sidechain_flags="-ex1 -ex2aro_only -unboundrot"

#If you don't want to repack partner 1
#sidechain_flags="-ex1 -ex2aro_only -unboundrot -norepack1"

#If you don't want to repack partner 2
#sidechain_flags="-ex1 -ex2aro_only -unboundrot -norepack2"

#==============================================================================

#SEARCH FLAGS

#Set the search flags for your run

#For test and small perturbation runs
search_flags="-dock_pert 3 8 8"

#For large perturbation or global run
#search_flags="-dock_pert 5 15 25 -spin"

#For a full randomize run
#search_flags="-randomize1 -randomize2"

#Or insert your own here (read the tutorial to see which flags you should use
#for the run you desire)
#search_flags=

#==============================================================================

#SMART SCOREFILTER
#You normally do not want to turn this on except in a 100K run.  See the 
#tutorial for details

#This is needed so my script will work (scorefilter must have a value)
scorefilter=""

#For a 100K run
#scorefilter="-smart_scorefilter 0.01"

#==============================================================================

#ANTIBODIES

#Default case (no antibody)
fab_flags=""

#Partner 1 is an antibody
#fab_flags="-fab1"

#Partner 2 is an antibody
#fab_flags="-fab2"

#==============================================================================

#EXTRA FLAGS
#If you need additional flags for some reason

extra_flags=""

#==============================================================================

#NUMBER OF CONDOR JOBS

#Number of jobs to queue to condor
#I suggest 10 for a test run, 100 for all other runs

#test run
Njobs=10

#Most other runs
#Njobs=100

#Or insert your own here
#Njobs=

#==============================================================================


