SPARKS-X/
blast/
csblast/
databases
psipred/
sparks-x/
pdb_seqres.txt
pdb_seqres.txt.phr
pdb_seqres.txt.pin
pdb_seqres.txt.psq
vall.jul19.2011.blast
vall.jul19.2011.blast.phr
vall.jul19.2011.blast.pin
vall.jul19.2011.blast.psq
